.logo {
    width: 40px;
}

#search {
    border-radius: 16px;
    border: 0.5px solid rgb(167, 167, 167);
    min-width: 300px;
    margin-left: 10px;
}

.icon {
     width: 25px;
}

.iconContainer {
    opacity: 0.65;
}

.iconContainer:hover {
    opacity: 1;
}

p, a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.user {
    width: 25px;
}

.join-btn:hover {
    background-color: #F1F7FF;
    color: #4876A7;
    border-color: #4876A7;
}

.signin-btn {
    background-color: #0966C2;
    border-color: #0966C2;
}

.signin-btn:hover {
    background-color: #004182;
    border-color: #004182;
}

.logo-esteso {
    height: 60px;
    width: auto;
}
